 body {
    background-color: #91CCFF;
 }


header, .name  {
    margin: 0 auto;
    width: fit-content;
    color: rgb(71, 70, 70);
    padding: 2px;
    font-family: ;
    
}

.photo {
    border: 5px solid whitesmoke
    
    
   
}